<header class="w-100" id="commerce-header">
	<div class="border-bottom" id="commerce-header-settings">
		<div class="container-fluid container-fluid-max-lg d-flex justify-content-end">
			<button type="button" id="language-selector" class="btn btn-dark">language</button>
			<button type="button" id="currency-selector" class="btn btn-dark mx-1">currency</button>

			<div class="border-left ml-1 pl-2">
				<button type="button" id="sign-in" class="btn btn-dark">sign-in</button>
			</div>
		</div>
	</div>

	<div class="border-bottom" id="commerce-header-main">
		<div class="align-items-center container-fluid container-fluid-max-lg d-flex justify-content-between">
			<div id="commerce-logo">
				logo
			</div>

			<div id="commerce-search">
				search bar
			</div>

			<div class="align-items-center container-fluid container-fluid-max-lg d-flex justify-content-end" id="commerce-header-components">
				<div id="commerce-account-selector">
					account selector
				</div>

				<div id="commerce-mini-cart">
					mini cart
				</div>
			</div>
		</div>
	</div>

	<div id="commerce-header-nav">
		<div class="container d-flex justify-content-center">
			<nav id="commerce-nav">
				navigation bar
			</nav>
		</div>
	</div>
</header>