<section class="playground-shortcut-grid">
	<h2 class="playground-shortcut-grid__title">Jump in</h2>
	<div class="playground-shortcut-grid__items" data-playground-shortcuts>
		<a class="playground-shortcut" data-target="pages" href="#">
			<span class="playground-shortcut__icon">&#128196;</span>
			<span class="playground-shortcut__label">Pages</span>
		</a>
		<a class="playground-shortcut" data-target="fragments" href="#">
			<span class="playground-shortcut__icon">&#129513;</span>
			<span class="playground-shortcut__label">Fragments</span>
		</a>
		<a class="playground-shortcut" data-target="page-templates" href="#">
			<span class="playground-shortcut__icon">&#128196;</span>
			<span class="playground-shortcut__label">Page Templates</span>
		</a>
		<a class="playground-shortcut" data-target="master-pages" href="#">
			<span class="playground-shortcut__icon">&#127912;</span>
			<span class="playground-shortcut__label">Master Pages</span>
		</a>
		<a class="playground-shortcut" data-target="style-books" href="#">
			<span class="playground-shortcut__icon">&#127912;</span>
			<span class="playground-shortcut__label">Style Books</span>
		</a>
		<a class="playground-shortcut" data-target="web-content" href="#">
			<span class="playground-shortcut__icon">&#128209;</span>
			<span class="playground-shortcut__label">Web Content</span>
		</a>
		<a class="playground-shortcut" data-target="documents" href="#">
			<span class="playground-shortcut__icon">&#128206;</span>
			<span class="playground-shortcut__label">Documents</span>
		</a>
	</div>
</section>
